.backimage{
    background-image: url('./image/stone-wall.jpg') ;
    background-size: cover;
    background-attachment: fixed;
}
.backgroun{
    background-image: url('./image/tree.jpg');
    background-size: cover;
    
}
.anim{
    transition: all 0.4s ease-in-out;
}
.backg{
    background-image: url('./image/background-about-page.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    /* filter: brightness(40%); */
}
.underline-on-hover {
    position: relative;
    display: inline-block;
    color: #333;
    /* Text color */
    text-decoration: none;
}

.underline-on-hover::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    /* Adjust the height of the underline as needed */
    bottom: 0;
    left: 0;
    background-color: #333;
    /* Underline color */
    transition: width 0.3s;
    /* Adjust the transition duration as needed */
}

.underline-on-hover:hover::before {
    width: 100%;
    /* Width set to 100% on hover to create the underline effect */
}

.change{
    color: aqua;
}
.ext-font{
    font-family: 'Lobster', sans-serif;
}

.appear{
    transition: opacity 0.5s;
}
.heedn{
    opacity: 0;
    transition: all 1s;
    /* filter: blur(5px); */
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    /* filter: blur(0px); */
    transform: translateX(0);
}
@media(prefers-reduced-motion){
    .heedn{
        transition: none;
    }
}
.text-animate{
    color: black;
    -webkit-text-stroke: 0.1vw black;
    position: relative;
 
}
.text-animate::after{
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    height: 100%;
    color: rgb(31, 165, 81);
    -webkit-text-stroke: 0vw rgb(8, 8, 8);
    border-right: solid 3px rgb(31, 165, 81);
    overflow: hidden;
    animation: animate 3s linear infinite;
}
@keyframes animate {
    0%,10%,100%{
        width:0;
    }
    70%,90%{
        width:100%
    }
}
.shadow-effect{
    /* background-image: url('/src/image/monitor.webp'); */
    box-shadow: 0 0 10px rgba(243, 242, 242, 0.5);
        /* Adjust the blur radius and shadow color as needed */
        border-radius: 8px;
        /* Adjust the border radius to match your design */
        overflow: hidden;
}
.shadow-effect:hover{
    box-shadow: 0 0 60px rgba(243, 242, 242, 0.5);
}
.scroll-animation{
    scroll-snap-type: y mandatory ;
    overflow-y: scroll;
    height: 120vh;
}
.scroll-animation::-webkit-scrollbar{
    width: 0;
}