.backimage{
    background-image: url('./image/stone-wall.jpg') ;
    background-size: cover;
    
}
.backgroun{
    background-image: url('./image/tree.jpg');
    background-size: cover;
}
.anim{
    transition: all 0.4s ease-in-out;
}
